

header{
	width:100%;	
	display:flex;
	justify-content:space-around;
	align-items:center;
}

	
	

body{
	font-family: Papyrus;
	font-size:25px;
	background-image:radial-gradient(#000000,#FF0000);
	color:yellow;	
	text-align:center;
}
	
	
	
	.container{
		background-color:black;
		color:white;
		
	
	}
	img{
		max-width:100%;
	}
	
	
button{
		color:#000;
	border-radius:20px;
	height:35px;
	width:170px;
	text-transform:uppercase;	
	border:2px solid #791fd3;
	background-color:#beff1b;

	cursor:pointer;
	font-weight:bold;
}	
	
