




body{
	background:yellow;
	font: normal 15pt Papyrus;
}

header{
	
}

section{
	font:normal 30pt Lucida Calligraphy;
	color:white;
	background:red;
	border-radius:10px;
	padding:15px;
	margin:auto;
	
	
}

img{
	border-radius:10px;
}

	.suely{
	color:yellow;
	font-size:30px;
	background-color:red;
	border-radius:10px;
	margin-top:2px;
	cursor:pointer;
}



	

.background{
	background-color:red;
}
