




body{
	background:yellow;
	font: normal 15pt Papyrus;
}

header{
	
}

section{
	font:normal 30pt Lucida Calligraphy;
	color:white;
	background:red;
	border-radius:10px;
	padding:15px;
	margin:auto;
	
	
}

img{
	border-radius:10px;
}

	

.background{
	background-color:red;
}